html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--sans);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}
